@{
  Layout = "_Layout";
}
<header>
</header>
<body>

<div class="container">
  <form action="/Result" method="Post">
    <div class="form-group">
      <label for="new-words">Enter a sentence!</label>




      <input class="form-control" rows = "5" id="new-words" name="new-words" type="text"/>

      <label for="new-word">Enter a word.</label>
      <input class="form-control" id="new-word" name="new-word" type="text"/>


    </div>
    <button id="submit" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</body>
