@{
  Layout = "_Layout";
}


<body>
<div class="container">
  <h2>Welcome to Word Counter!</h2>
  <P> This is a simple page to find how many times that a word appears in a sentence;
    you can type a sentence, or a paragraph, and then type a word which you want to find. 
    The program will tell you how many times this word has appeared. </P>
  <form action="/CreateForm" method="Get">
    <button type="submit" class="btn btn-success" >Star Game</button>
  </form>
</div>
</body>
